1_data_extraction/data/
*.npy
patches/
2_data_preparation/*.csv
3_pre_processing/lunar_patches/
__pycache__/
3_pre_processing/lunar_patches_alltiles/*
!3_pre_processing/lunar_patches_alltiles/kept_labels.csv
